<html>
    
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">Brand</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a (click)="clickFunction1()" class="nav-item nav-link active">Home</a>
            
           
        </div>
        <form class="form-inline">
            
        </form>
        <div class="navbar-nav">
            <a (click)="clickFunction3()"class="nav-item nav-link">{{status}}</a>
        </div>
    </div>
</nav>
 
 <router-outlet></router-outlet> 
</html>